<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Great Button Game</title>
    <link rel="stylesheet" href="stylesheets/style.css">
      <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        charset="utf-8">
      </script>
      <script src="/socket.io/socket.io.js" charset="utf-8"></script>
      <script src="javascript/button_game.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="wrapper">
      <h1>Epic Button Game</h1>
      <h2 id="count"></h2>
      <p>Push the button to update the count</p>
      <button id="epic_button">Push the epic button</button>
      <br>
      <button id="reset_button">Reset</button>
    </div>
  </body>
</html>
